<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="water-leaf">
                    <h4 class="title">100 Days of Code Timeline</h4>
                </div>
                <div class="card-content">
                    <div id="typography">
                        <!--<div class="title">
                            <h2>Timeline</h2>
                        </div>-->
                        <div class="row">
                            <div class="tim-typo" *ngFor="let story of stories; let i=index">
                                <h2>DAY {{ i + 1 }}</h2>
                                <p>
                                    <span class="tim-note">{{ story.date | date:'mediumDate' }}</span>
                                    <strong>Today's progress:</strong> {{ story.title }}
                                </p>
                                <p>
                                    <strong>What I thought:</strong> {{ story.text }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
